# Node dependencies
node_modules/
logs/
app/edge-profile/
Realeses/
_backup/
dist/
output/
edge-profile/
package-lock.json
package.json
app/core/package.json
app/core/package-lock.json
app/core/package.json
/assets
/assets
/assets
assets/Purchase list.xlsm
assets/Purchase list.xlsm
